<html>
    <head>
        <title>BlogBrayan</title>
    </head>
    <body>
        <div>
            <h1><a href="/">BrayanBlog</a></h1>
        </div>

        <div>
            <p>Publicado: 24-04-2020, 20:23</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Tot va molt bé,els exercicis d'Ofimatica van de maravella ,pero hi ha quasi tot no ho entent pero practicant s'entendra,aixo crec</p>
        </div>

        <div>
            <p>Publicado: 29-04-2020, 21:27</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Buff,despres de tornar al exercicis hem vaig perdre i no savia com tornar on estaba amb algunos complicacions,igualment vaig tornar a llegir de nou i vaig comprendre que no feia falta el bash console per activar la pagina web(esper que el necesitem per els següents exercicis per que no se com activar la virtualnv). </p>
        </div>
        <div>FIN</div>
    </body>
</html>